@{
    ViewData["Title"] = "Fleet";
}

<div class="alert alert-primary text-center" role="alert">
    <h1><i class="bi bi-people-fill"></i> الحملة / المركباتاستدامة للكورسات (Fleet)</h1>
    <p>مرحباً بك في نظام الحملة / المركبات</p>
</div>