<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - المنصة الرقمية</title>
    <!-- 1. SEO Meta Tags -->
    <meta name="description" content="المنصة الرقمية الموحدة لمحافظة كفر الشيخ - نظام ERP شامل لإدارة الموارد البشرية، المخازن، الشئون القانونية، والحملة">
    <meta name="keywords" content="ERP, كفر الشيخ, موارد بشرية, مخازن, حكومة الكترونية, تحول رقمي">
    <meta name="author" content="الإدارة العامة لنظم المعلومات والتحول الرقمي">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- animate -->
    <link rel="stylesheet" href="~/css/animate/animate.css">
    <!-- Global Css Link -->
    <link rel="stylesheet" href="~/css/global/main.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/global/adminlte.css">
    <!-- dash-style -->
    <link rel="stylesheet" href="css/global/dash-style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap">
</head>
<body style="margin:0;">
    <!-- start top bar -->
    <section class="top-bar bg-dark bg-light-radial">
        <div class="container">
            <div class="row pt-2 pb-2">
                <div class="col time ">
                    <div id="clock" class="BannerBarText text-light wow fadeInUp" data-wow-offset="10"></div>
                </div>
                <div class="col d-none d-lg-block text-start">
                    <div class="links wow fadeInDown" data-wow-offset="10">
                        <a class="Prayer" href="http://prayertimes3.today/egypt-eg/kafrsheikh-175.html" target="_blank"
                           title="مواقيت الصلاة"><i class="fa-solid fa-mosque"></i></a>
                        <a class="weather " href="http://ema.gov.eg/wp/bulletin-page" target="_blank"
                           title="مواقيت الصلاة"><i class="fa-solid fa-cloud-sun-rain"></i></a>
                    </div>
                </div>
            </div>
    </section>
    <!-- end top bar -->
    <!-- start header lg -->
    <header class=" d-none d-lg-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 ">
                    <div class="logo d-flex mx-auto">
                        <img src="image/kfs-logo (2).png" alt="" class="mt-3 wow fadeInRight" data-wow-offset="10"
                             data-wow-delay="1s">
                        <div class="border m-2"></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="head text-center pt-1 mx-auto">
                        <img class="wow fadeInDown" data-wow-duration="2s" src="image/kfs-word.png" alt="">
                        <h4 class=" light-dark pt-1  wow fadeInUp" data-wow-duration="3s">
                            الإدارة العامة لنظم
                            المعلومات والتحول الرقمي
                        </h4>
                        <h5 class=" light-dark pt-1  wow flipInY " data-wow-duration="4s">المنصة الإحصائية</h5>
                    </div>
                </div>
                <div class="col-2">
                    <div class="logo d-flex mx-auto">
                        <div class="border m-2"></div>
                        <img src="image/eg-logo.png" alt="" class="mt-3 wow fadeInLeft" data-wow-offset="10"
                             data-wow-delay="1s">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header lg -->
    <!-- start header sm screen -->
    <header class="d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-3 pt-2 d-flex">
                    <div class="logo d-block">
                        <img src="image/kfs-logo (2).png" alt="" class="wow fadeInDown" data-wow-offset="10"
                             data-wow-delay="1s">
                    </div>
                </div>
                <div class="col-9">
                    <div class="head text-center pt-1">
                        <img class="wow wow fadeInDown mb-1" data-wow-duration="2s" src="image/kfs-word.png" alt="">
                        <h4 class=" light-dark wow fadeInUp mb-2" data-wow-duration="3s">
                            الإدارة العامة لنظم
                            المعلومات والتحول الرقمي
                        </h4>
                        <h5 class=" light-dark wow flipInY" data-wow-duration="4s">المنصة الإحصائية</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header sm screen -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white bg-dark">
            <!-- right navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">الرئيسية</a>
                    </li>*@
            </ul>

            <!-- left navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                       aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4 bg-dark">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="image/kfs-logo (2).png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">أسم القطاع</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="image/kfs-logo (2).png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Kfs</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar right Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <!-- 1. اللوحة الرئيسية (التعليمية) -->
                                <li class="nav-item">
                                    <a asp-area="Education" asp-controller="Home" asp-action="Index" class="nav-link active">
                                        <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                        <p>منصة التعليم والتدريب</p>
                                    </a>
                                </li>

                                <!-- 2. الدورات والبرامج (Catalog) -->
                                <li class="nav-item menu-open">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-book-open"></i>
                                        <p>
                                            الدليل التدريبي
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <!-- المسارات التدريبية -->
                                            <a asp-area="Education" asp-controller="Tracks" asp-action="Index" class="nav-link">
                                                <i class="fas fa-project-diagram nav-icon"></i>
                                                <p>المسارات والتخصصات</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <!-- تعريف الدورات -->
                                            <a asp-area="Education" asp-controller="Courses" asp-action="Index" class="nav-link text-info">
                                                <i class="fas fa-layer-group nav-icon"></i>
                                                <p>سجل الدورات (Courses)</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <!-- إدارة الجلسات المتاحة للحجز -->
                                            <a asp-area="Education" asp-controller="Sessions" asp-action="Active" class="nav-link">
                                                <i class="fas fa-calendar-check nav-icon"></i>
                                                <p>الدورات المتاحة حالياً</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- 3. المحتوى الرقمي (E-Learning) -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-laptop-code"></i>
                                        <p>
                                            المحتوى الرقمي
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Videos" asp-action="Library" class="nav-link">
                                                <i class="fas fa-video nav-icon text-danger"></i>
                                                <p>مكتبة الفيديوهات</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Documents" asp-action="Index" class="nav-link">
                                                <i class="fas fa-file-pdf nav-icon text-warning"></i>
                                                <p>المواد العلمية (PDF)</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Assignments" asp-action="Index" class="nav-link">
                                                <i class="fas fa-tasks nav-icon"></i>
                                                <p>الواجبات والمشاريع</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- 4. المتدربين والطلاب (Trainees) -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-user-graduate"></i>
                                        <p>
                                            الطلاب والمتدربين
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Trainees" asp-action="Index" class="nav-link">
                                                <i class="fas fa-users nav-icon"></i>
                                                <p>سجل المتدربين</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Enrollment" asp-action="Pending" class="nav-link">
                                                <i class="fas fa-user-plus nav-icon"></i>
                                                <p>طلبات التسجيل الجديدة</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Attendance" asp-action="Record" class="nav-link">
                                                <i class="fas fa-fingerprint nav-icon"></i>
                                                <p>رصد الغياب والحضور</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- 5. المدربين والجداول (Instructors) -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-chalkboard"></i>
                                        <p>
                                            المدربين والقاعات
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Instructors" asp-action="Index" class="nav-link">
                                                <i class="fas fa-user-tie nav-icon"></i>
                                                <p>دليل المدربين (Staff)</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Schedule" asp-action="Index" class="nav-link">
                                                <i class="far fa-calendar-alt nav-icon"></i>
                                                <p>الجدول الأسبوعي</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Education" asp-controller="Halls" asp-action="Index" class="nav-link">
                                                <i class="fas fa-door-open nav-icon"></i>
                                                <p>حجز القاعات والمعامل</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- 6. الاختبارات والشهادات (Assessments) -->
                                <li class="nav-header">الاختبارات والنتائج</li>

                                <li class="nav-item">
                                    <a asp-area="Education" asp-controller="Exams" asp-action="QuestionBank" class="nav-link">
                                        <i class="fas fa-question-circle nav-icon"></i>
                                        <p>بنك الأسئلة</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Education" asp-controller="Exams" asp-action="Results" class="nav-link">
                                        <i class="fas fa-clipboard-check nav-icon"></i>
                                        <p>رصد الدرجات</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Education" asp-controller="Certificates" asp-action="Issue" class="nav-link text-success">
                                        <i class="fas fa-certificate nav-icon"></i>
                                        <p>إصدار الشهادات (QR)</p>
                                    </a>
                                </li>

                                <!-- 7. التقارير -->
                                <li class="nav-header">تقارير الاستدامة</li>

                                <li class="nav-item">
                                    <a asp-area="Education" asp-controller="Reports" asp-action="TrainingKPI" class="nav-link">
                                        <i class="fas fa-chart-line nav-icon"></i>
                                        <p>مؤشرات الأداء (KPIs)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Education" asp-controller="Feedback" asp-action="Index" class="nav-link">
                                        <i class="fas fa-comments nav-icon"></i>
                                        <p>تقييمات الدورات</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /  Sidebar right Menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Main Sidebar Container -->

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- Start footer-->
        <footer class="bg-dark bg-light-radial p-3 ">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <p class="copyright-text">
                            حقوق الطبع والنشر <span> &copy; </span> الإدارة العامة لنظم المعلومات والتحول الرقمي

                            <a class="nozom" href="#">إدارة النظم والتطبيقات</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer-->
        <!-- jQuery -->
        <script src="js/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
        <!-- Font Awesome  -->
        <script src="js/all.min.js"></script>
        <!-- AdminLTE App -->
        <script src="js/global/adminlte.js"></script>
        <!-- global js -->
        <script src="js/global/main.js"></script>

        <script src="js/animate/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script>
            $(function () {
                $('.select2').select2()
            });
        </script>
</body>
</html>