header {
    height: 150px;
}

header .logo {
    height: 8rem;
}

header .head img {
    width: 30rem;
    height: 4rem;
}

@media (max-width: 992px) {
    header .logo img {
        width: 8rem;
    }

    header .head img {
        width: 15rem;
        height: 3rem;
    }

    header .head h4 {
        font-size: 1.2rem;
    }
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
}

[class*=icheck-]>label {
    padding-left: 22px !important;

}

.bg-dark {
    background-color: #040F28 !important;
}

.nav-sidebar .menu-is-opening>.nav-link i.right,
.nav-sidebar .menu-is-opening>.nav-link svg.right,
.nav-sidebar .menu-open>.nav-link i.right,
.nav-sidebar .menu-open>.nav-link svg.right {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.nav-sidebar .nav-link>.right,
.nav-sidebar .nav-link>p>.right {
    position: absolute;
    left: 1rem;
    top: .7rem;
}