<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - المنصة الرقمية</title>
    <!-- 1. SEO Meta Tags -->
    <meta name="description" content="المنصة الرقمية الموحدة لمحافظة كفر الشيخ - نظام ERP شامل لإدارة الموارد البشرية، المخازن، الشئون القانونية، والحملة">
    <meta name="keywords" content="ERP, كفر الشيخ, موارد بشرية, مخازن, حكومة الكترونية, تحول رقمي">
    <meta name="author" content="الإدارة العامة لنظم المعلومات والتحول الرقمي">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- animate -->
    <link rel="stylesheet" href="~/css/animate/animate.css">
    <!-- Global Css Link -->
    <link rel="stylesheet" href="~/css/global/main.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/global/adminlte.css">
    <!-- dash-style -->
    <link rel="stylesheet" href="css/global/dash-style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900&display=swap">
</head>
<body style="margin:0;">
    <!-- start top bar -->
    <section class="top-bar bg-dark bg-light-radial">
        <div class="container">
            <div class="row pt-2 pb-2">
                <div class="col time ">
                    <div id="clock" class="BannerBarText text-light wow fadeInUp" data-wow-offset="10"></div>
                </div>
                <div class="col d-none d-lg-block text-start">
                    <div class="links wow fadeInDown" data-wow-offset="10">
                        <a class="Prayer" href="http://prayertimes3.today/egypt-eg/kafrsheikh-175.html" target="_blank"
                           title="مواقيت الصلاة"><i class="fa-solid fa-mosque"></i></a>
                        <a class="weather " href="http://ema.gov.eg/wp/bulletin-page" target="_blank"
                           title="مواقيت الصلاة"><i class="fa-solid fa-cloud-sun-rain"></i></a>
                    </div>
                </div>
            </div>
    </section>
    <!-- end top bar -->
    <!-- start header lg -->
    <header class=" d-none d-lg-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 ">
                    <div class="logo d-flex mx-auto">
                        <img src="image/kfs-logo (2).png" alt="" class="mt-3 wow fadeInRight" data-wow-offset="10"
                             data-wow-delay="1s">
                        <div class="border m-2"></div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="head text-center pt-1 mx-auto">
                        <img class="wow fadeInDown" data-wow-duration="2s" src="image/kfs-word.png" alt="">
                        <h4 class=" light-dark pt-1  wow fadeInUp" data-wow-duration="3s">
                            الإدارة العامة لنظم
                            المعلومات والتحول الرقمي
                        </h4>
                        <h5 class=" light-dark pt-1  wow flipInY " data-wow-duration="4s">المنصة الإحصائية</h5>
                    </div>
                </div>
                <div class="col-2">
                    <div class="logo d-flex mx-auto">
                        <div class="border m-2"></div>
                        <img src="image/eg-logo.png" alt="" class="mt-3 wow fadeInLeft" data-wow-offset="10"
                             data-wow-delay="1s">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header lg -->
    <!-- start header sm screen -->
    <header class="d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-3 pt-2 d-flex">
                    <div class="logo d-block">
                        <img src="image/kfs-logo (2).png" alt="" class="wow fadeInDown" data-wow-offset="10"
                             data-wow-delay="1s">
                    </div>
                </div>
                <div class="col-9">
                    <div class="head text-center pt-1">
                        <img class="wow wow fadeInDown mb-1" data-wow-duration="2s" src="image/kfs-word.png" alt="">
                        <h4 class=" light-dark wow fadeInUp mb-2" data-wow-duration="3s">
                            الإدارة العامة لنظم
                            المعلومات والتحول الرقمي
                        </h4>
                        <h5 class=" light-dark wow flipInY" data-wow-duration="4s">المنصة الإحصائية</h5>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header sm screen -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white bg-dark">
            <!-- right navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">الرئيسية</a>
                    </li>*@
            </ul>

            <!-- left navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search"
                                       aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4 bg-dark">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="image/kfs-logo (2).png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">أسم القطاع</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="image/kfs-logo (2).png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Kfs</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar right Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <nav class="mt-2">
                            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                                <!-- 1. الرئيسية للمخازن -->
                                <li class="nav-item">
                                    <a asp-area="Inventory" asp-controller="Home" asp-action="Index" class="nav-link active">
                                        <i class="nav-icon fas fa-chart-pie"></i>
                                        <p>إحصائيات المخازن</p>
                                    </a>
                                </li>

                                <!-- 2. التعريفات الأساسية (الركيزة) -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-boxes"></i>
                                        <p>
                                            الأصناف والتعريفات
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <!-- أماكن التخزين -->
                                            <a asp-area="Inventory" asp-controller="Warehouses" asp-action="Index" class="nav-link">
                                                <i class="fas fa-warehouse nav-icon"></i>
                                                <p>دليل المخازن والساحات</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <!-- الدليل الشجري للأصناف -->
                                            <a asp-area="Inventory" asp-controller="Items" asp-action="Index" class="nav-link text-info">
                                                <i class="fas fa-barcode nav-icon"></i>
                                                <p>دليل الأصناف (Master)</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Inventory" asp-controller="Categories" asp-action="Index" class="nav-link">
                                                <i class="fas fa-sitemap nav-icon"></i>
                                                <p>المجموعات والتصنيفات</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Inventory" asp-controller="Units" asp-action="Index" class="nav-link">
                                                <i class="fas fa-ruler-combined nav-icon"></i>
                                                <p>وحدات القياس</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- 3. الحركات المخزنية (Transactions) -->
                                <li class="nav-item menu-open">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-exchange-alt"></i>
                                        <p>
                                            حركات المخزون
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <!-- أذن إضافة / توريد -->
                                            <a asp-area="Inventory" asp-controller="Receive" asp-action="Create" class="nav-link text-success">
                                                <i class="fas fa-truck-loading nav-icon"></i>
                                                <p>أذن إضافة (توريد)</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <!-- أذن صرف -->
                                            <a asp-area="Inventory" asp-controller="Dispatch" asp-action="Create" class="nav-link text-danger">
                                                <i class="fas fa-dolly nav-icon"></i>
                                                <p>أذن صرف مخزني</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <!-- التحويل بين المخازن -->
                                            <a asp-area="Inventory" asp-controller="Transfers" asp-action="Index" class="nav-link">
                                                <i class="fas fa-random nav-icon"></i>
                                                <p>تحويلات بين المخازن</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <!-- المرتجعات -->
                                            <a asp-area="Inventory" asp-controller="Returns" asp-action="Index" class="nav-link">
                                                <i class="fas fa-undo nav-icon"></i>
                                                <p>مرتجعات وتوالف</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- 4. المشتريات والطلبات (Purchasing) -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-shopping-cart"></i>
                                        <p>
                                            المشتريات والطلبات
                                            <i class="fas fa-angle-left right"></i>
                                        </p>
                                    </a>
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item">
                                            <a asp-area="Inventory" asp-controller="PurchaseRequests" asp-action="Index" class="nav-link">
                                                <i class="fas fa-file-invoice nav-icon"></i>
                                                <p>طلبات الشراء (PR)</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a asp-area="Inventory" asp-controller="Suppliers" asp-action="Index" class="nav-link">
                                                <i class="fas fa-users nav-icon"></i>
                                                <p>دليل الموردين</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- 5. الجرد والتسويات (Stocktaking) -->
                                <li class="nav-header">الجرد السنوي</li>

                                <li class="nav-item">
                                    <a asp-area="Inventory" asp-controller="Stocktaking" asp-action="NewSession" class="nav-link">
                                        <i class="fas fa-clipboard-check nav-icon"></i>
                                        <p>فتح لجنة جرد</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Inventory" asp-controller="Adjustments" asp-action="Index" class="nav-link">
                                        <i class="fas fa-balance-scale-right nav-icon"></i>
                                        <p>تسوية العجز والزيادة</p>
                                    </a>
                                </li>

                                <!-- 6. التقارير -->
                                <li class="nav-header">التقارير</li>

                                <li class="nav-item">
                                    <a asp-area="Inventory" asp-controller="Reports" asp-action="StockBalance" class="nav-link">
                                        <i class="fas fa-th nav-icon"></i>
                                        <p>تقرير أرصدة المخازن</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Inventory" asp-controller="Reports" asp-action="BinCard" class="nav-link">
                                        <i class="fas fa-history nav-icon"></i>
                                        <p>كارت الصنف (حركة)</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="Inventory" asp-controller="Reports" asp-action="LowStock" class="nav-link">
                                        <i class="fas fa-exclamation-triangle nav-icon text-warning"></i>
                                        <p>تنبيهات نواقص المخزون</p>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /  Sidebar right Menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Main Sidebar Container -->

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- Start footer-->
        <footer class="bg-dark bg-light-radial p-3 ">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <p class="copyright-text">
                            حقوق الطبع والنشر <span> &copy; </span> الإدارة العامة لنظم المعلومات والتحول الرقمي

                            <a class="nozom" href="#">إدارة النظم والتطبيقات</a>.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer-->
        <!-- jQuery -->
        <script src="js/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
        <!-- Font Awesome  -->
        <script src="js/all.min.js"></script>
        <!-- AdminLTE App -->
        <script src="js/global/adminlte.js"></script>
        <!-- global js -->
        <script src="js/global/main.js"></script>

        <script src="js/animate/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script>
            $(function () {
                $('.select2').select2()
            });
        </script>
</body>
</html>